# common ignore
*~
MANIFEST.MF
target/
tmp/
builds/
build/
pom.xml.orig
*.versionsBackup

*.class

# Package Files #
*.jar
!lib/algs4.jar
*.war

*.zip

# eclipse specific
.settings
.project
.classpath
.metadata

# idea specific
.idea/*
!.idea/codeStyleSettings.xml
*.iml
*.ipr
*.iws

# gradle specific
.gradle/
build

# Locally stored "Eclipse launch configurations"
*.launch

# unix specific
.DS_Store
.directory

# static plugins
.pmd

# log files
logs
*.log
